<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Admin Page</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert/dist/sweetalert.min.js"></script>
    </head>
    <body>
        <h1>Admin Page</h1>
        <div id="app">
            <table>
                <tr><th>序号</th><th>城市名</th><th>操作</th></tr>
                <tr v-for="(c, i) in city">
                    <td>{{ i }}</td>
                    <td>{{ c }}</td>
                    <td><button v-on:click="delCity(i)">删除</button></td>
                </tr>
                <tr>
                    <td> {{ new_city_id }} </td>
                    <td><input v-model="new_city" type="text" placeholder="请输入城市名"></td>
                    <td><button v-on:click="newCity()">创建</button></td>
                </tr>
            </table>
        </div>
        <div class="footer">
            <a href="/user">用户模式</a>
        </div>
    </body>
    <script>
        const { createApp } = Vue;

        createApp({
            data() {
                return {
                    new_city: "",
                    city: {},
                    plane: {},
                    train: {}
                }
            },
            mounted () {
                let app = this;
                app.loadData(app.city, "data/city.json");
                app.loadData(app.plane, "data/plane.json");
                app.loadData(app.train, "data/train.json");
            },
            computed: {
                new_city_id() {
                    var keys = Object.keys(this.city);
                    if (keys.length == 0) return 0;
                    return (parseInt(keys[keys.length-1]) + 1).toString();
                }
            },
            methods: {
                clearData: function() {
                    this.city = {};
                },
                loadData: function(target, url) {
                    console.log("load data from " + url);
                    return new Promise((resolve, reject)=>{
                        axios.get(url)
                            .then(response => { this.copyObject(response.data, target); })
                            .catch(function (error) { console.log(error); });
                    })
                },
                newCity: function(i) {
                    axios.get("api/v1/newCity?name=" + this.new_city)
                        .then(response => { this.city[this.new_city_id] = this.new_city; })
                        .catch(function (error) { swal({title: "Error", text: error.response.data.err, icon: "error", timer: 2000}); });
                },
                delCity: function(i) {
                    let app = this;
                    axios.get("api/v1/delCity?id=" + i)
                        .then(response => {
                            delete app.city[i];
                            app.loadData(app.plane, "data/plane.json");
                            app.loadData(app.train, "data/train.json");
                        })
                        .catch(function (error) { swal({title: "Error", text: error.response.data.err, icon: "error", timer: 2000}); });
                },
                copyObject: function(from, to) {
                    for (var key in from) {
                        to[key] = from[key];
                    }
                }
            }
        }).mount('#app');
    </script>
</html>
